<!DOCTYPE HTML>

<html>
	<head>
		<title>MA</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="./static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<div id="tab1" class="row tabs">
			<div class="col-outer1 tab_text"></div>
			<div class="col-inner tab_text"><a href="dibujos">DIBUJOS</a></div>
			<div class="col-inner tab_text"><a href="poemas">POEMAS</a></div>
			<div class="col-inner tab_text"><a href="poemas_menores">COLLAGES</a></div>
			<div class="col-inner tab_text"><a href="hojas_cuadriculadas">OBJETOS</a></div>
			<div class="col-inner tab_text"><a href="tejidos">TEJIDOS</a></div>
			<div class="col-inner tab_text"><a href="video">LECTURAS</a></div>
			<div class="col-inner tab_text"><a href="muestra">MUESTRA</a></div>
			<div class="col-outer2"></div>
		</div>
		<div id="tabs3">
			<div id="tab2" class="row tabs">
			<div class="col-4 tab_text"></div>
			<div class="col-3 tab_text"><a href="hojas_cuadriculadas">HOJAS_CUADRICULADAS </a></div>
			<div class="col-3 tab_text"><a href="pezoneras">PEZONERAS </a></div>
			<div class="col-2 tab_text"></div>
		</div>
			<div>
			<h3 id="titulo">{{titulo}}</h3>
			<p id="description">
				{{texto}}
			</p>
		</div>
		</div>
		<!-- Wrapper -->
			<div id="wrapper3" class="divided">
					<section class="wrapper style1 align-center">
						<!-- Gallery -->
							<div class="gallery style1 medium lightbox onscroll-fade-in">
								<article>
									<a href="./static/images/{{value}}/01.jpg" class="image">
										<img src="./static/images/{{value}}/01.jpg" alt="" />
									</a>
									<div class="caption">
										<h3></h3>
										<p></p>
										<ul class="actions fixed">
										</ul>
									</div>
								</article>
								<article>
									<a href="./static/images/{{value}}/02.jpg" class="image">
										<img src="./static/images/{{value}}/02.jpg" alt="" />
									</a>
									<div class="caption">
										<ul class="actions fixed">
										</ul>
									</div>
								</article>
								<article>
									<a href="./static/images/{{value}}/03.jpg" class="image">
										<img src="./static/images/{{value}}/03.jpg" alt="" />
									</a>
									<div class="caption">
										<ul class="actions fixed">
										</ul>
									</div>
								</article>
								<article>
									<a href="./static/images/{{value}}/04.jpg" class="image">
										<img src="./static/images/{{value}}/04.jpg" alt="" />
									</a>
									<div class="caption">
										<ul class="actions fixed">
										</ul>
									</div>
								</article>
								<article>
									<a href="./static/images/{{value}}/05.jpg" class="image">
										<img src="./static/images/{{value}}/05.jpg" alt="" />
									</a>
									<div class="caption">
										<ul class="actions fixed">
										</ul>
									</div>
								</article>
								<article>
									<a href="./static/images/{{value}}/06.jpg" class="image">
										<img src="./static/images/{{value}}/06.jpg" alt="" />
									</a>
									<div class="caption">
										<ul class="actions fixed">
										</ul>
									</div>
								</article>
								<article>
									<a href="./static/images/{{value}}/07.jpg" class="image">
										<img src="./static/images/{{value}}/07.jpg" alt="" />
									</a>
									<div class="caption">
										<ul class="actions fixed">
										</ul>
									</div>
								</article>
								<article>
									<a href="./static/images/{{value}}/08.jpg" class="image">
										<img src="./static/images/{{value}}/08.jpg" alt="" />
									</a>
									<div class="caption">
										<ul class="actions fixed">
										</ul>
									</div>
								</article>
								<article>
									<a href="./static/images/{{value}}/09.jpg" class="image">
										<img src="./static/images/{{value}}/09.jpg" alt="" />
									</a>
									<div class="caption">
										<ul class="actions fixed">
										</ul>
									</div>
								</article>
								<article>
									<a href="./static/images/{{value}}/010.jpg" class="image">
										<img src="./static/images/{{value}}/010.jpg" alt="" />
									</a>
									<div class="caption">
										<ul class="actions fixed">
										</ul>
									</div>
								</article>
								<article>
									<a href="./static/images/{{value}}/011.jpg" class="image">
										<img src="./static/images/{{value}}/011.jpg" alt="" />
									</a>
									<div class="caption">
										<ul class="actions fixed">
										</ul>
									</div>
								</article>
								<article>
									<a href="./static/images/{{value}}/012.jpg" class="image">
										<img src="./static/images/{{value}}/012.jpg" alt="" />
									</a>
									<div class="caption">
										<ul class="actions fixed">
										</ul>
									</div>
								</article>
							</div>

					</section>
					<footer class="wrapper style1 align-center">
						<div class="inner">
							<ul class="icons">
								<li><a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon brands style2 fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
								<li><a href="#" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
							</ul>
						</div>
					</footer>
			</div>

		<!-- Scripts -->
			<script src="./static/assets/js/jquery.min.js"></script>
			<script src="./static/assets/js/jquery.scrollex.min.js"></script>
			<script src="./static/assets/js/jquery.scrolly.min.js"></script>
			<script src="./static/assets/js/browser.min.js"></script>
			<script src="./static/assets/js/breakpoints.min.js"></script>
			<script src="./static/assets/js/util.js"></script>
			<script src="./static/assets/js/main.js"></script>

	</body>
</html>