<!DOCTYPE HTML>

<html>
	<head>
		<title>MA</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="./static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<div id="tab1" class="row tabs">
			<div class="col-outer1 tab_text"></div>
			<div class="col-inner tab_text"><a href="dibujos">DIBUJOS</a></div>
			<div class="col-inner tab_text"><a href="poemas">POEMAS</a></div>
			<div class="col-inner tab_text"><a href="poemas_menores">COLLAGES</a></div>
			<div class="col-inner tab_text"><a href="hojas_cuadriculadas">OBJETOS</a></div>
			<div class="col-inner tab_text"><a href="tejidos">TEJIDOS</a></div>
			<div class="col-inner tab_text"><a href="video">LECTURAS</a></div>
			<div class="col-inner tab_text"><a href="muestra">MUESTRA</a></div>
			<div class="col-outer2"></div>
		</div>
		<div id="tab2" class="row tabs">
			<div class="col-4 tab_text"></div>
			<div class="col-3 tab_text"><a href="video">VIDEO </a></div>
			<div class="col-3 tab_text"><a href="audios">AUDIOS </a></div>
			<div class="col-2 tab_text"></div>
		</div>
		<!-- Wrapper -->
			<iframe id="video" width="800" height="460" src="https://www.youtube.com/embed/Nc-z9S0raJY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

			</div>

		<!-- Scripts -->
			<script src="./static/assets/js/jquery.min.js"></script>
			<script src="./static/assets/js/jquery.scrollex.min.js"></script>
			<script src="./static/assets/js/jquery.scrolly.min.js"></script>
			<script src="./static/assets/js/browser.min.js"></script>
			<script src="./static/assets/js/breakpoints.min.js"></script>
			<script src="./static/assets/js/util.js"></script>
			<script src="./static/assets/js/main.js"></script>

	</body>
</html>